<!--=====================================-->
<!--=   Breadcrumb     Start            =-->
<!--=====================================-->

<div class="breadcrumb-wrap breadcrumb-wrap-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>
<!--=====================================-->
<!--=   About     Start                 =-->
<!--=====================================-->

<section class="about-wrap2">
  <div class="container">
    <div class="row flex-row-reverse flex-lg-row">
      <div class="col-xl-6 col-lg-6">
        <div class="about-img">
          <img src="assets/img/blog/about8.jpg" alt="about" width="746" height="587">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="about-box3 wow fadeInUp" data-wow-delay=".2s">
          <span class="item-subtitle">About Us</span>
          <h2 class="item-title">Who We Are</h2>


          <h3>Unparalleled Property Search Experience</h3>
          <p>Discovering the perfect investment property is now easier than ever with our advanced search features.
            Tailor your search based on location, property type, budget, and more. Our user-friendly interface ensures a
            smooth and enjoyable experience, putting all the essential information at your fingertips.</p>
  
          <h3>Seamless Listing Management for Real Estate Agents</h3>
          <p>We understand the importance of showcasing properties effectively. Real estate agents can leverage our
            platform to effortlessly manage and share their listings with a targeted audience. Our robust tools allow
            agents to highlight key features, upload high-quality images, and provide detailed property descriptions.</p>
  
          <h3>Trust and Transparency</h3>
          <p>Building trust is at the core of our values. We prioritize transparency in all our interactions, ensuring
            that property investors have access to accurate and up-to-date information. Real estate agents can
            confidently showcase their listings, knowing they are reaching a discerning audience of serious investors</p>
            

        </div>
      </div>

    </div>

  </div>
</section>
<!--=====================================-->
<!--=   Property Banner     Start       =-->
<!--=====================================-->


<!--=====================================-->
<!--=   Team     Start                  =-->
<!--=====================================-->
<!-- 
<section class="team-wrap1 team-wrap2">
  <div class="container">
    <div class="item-heading-center mb-20">
      <span class="section-subtitle">Expertise Is Here</span>
      <h2 class="section-title">Our Exclusive Agetns</h2>
      <div class="bg-title-wrap" style="display: block;">
        <span class="background-title solid">Our Agents</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".6s">
          <div class="item-img">
            <a routerLink="/about">
              <img src="assets/img/team/team21.png" alt="team" height="240" width="240">
            </a>
            <ul class="team-social-1">
              <li class="social-item">
                <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                    class="fas fa-share-alt"></i></a>
                <ul class="team-social-dropdown">
                  <li class="social-item">
                    <a href="https://www.facebook.com/" target="_blank" class="social-link">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://twitter.com/" target="_blank" class="social-link">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="category-box">
              <div class="item-category"><a routerLink="/about">08 Listings</a></div>
            </div>
          </div>
          <div class="item-content">
            <div class="item-title">
              <h3><a routerLink="/about">Andren Willium</a></h3>
              <h4 class="item-subtitle"><a routerLink="/about">Sunshine</a></h4>
            </div>
            <div class="item-contact">
              <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
              <div class="item-phn-no">Call: +123 699 7700</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".4s">
          <div class="item-img">
            <a routerLink="/about">
              <img src="assets/img/team/team22.png" alt="team" height="240" width="240">
            </a>
            <ul class="team-social-1">
              <li class="social-item">
                <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                    class="fas fa-share-alt"></i></a>
                <ul class="team-social-dropdown">
                  <li class="social-item">
                    <a href="https://www.facebook.com/" target="_blank" class="social-link">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://twitter.com/" target="_blank" class="social-link">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="category-box">
              <div class="item-category"><a routerLink="/about">05 Listings</a></div>
            </div>
          </div>
          <div class="item-content">
            <div class="item-title">
              <h3><a routerLink="/about">Polly Matzinger</a></h3>
              <h4 class="item-subtitle"><a routerLink="/about">Sweet Home</a></h4>
            </div>
            <div class="item-contact">
              <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
              <div class="item-phn-no">Call: +123 699 7700</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".2s">
          <div class="item-img">
            <a routerLink="/about">
              <img src="assets/img/team/team23.png" alt="team" height="240" width="240">
            </a>
            <ul class="team-social-1">
              <li class="social-item">
                <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                    class="fas fa-share-alt"></i></a>
                <ul class="team-social-dropdown">
                  <li class="social-item">
                    <a href="https://www.facebook.com/" target="_blank" class="social-link">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://twitter.com/" target="_blank" class="social-link">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="category-box">
              <div class="item-category"><a routerLink="/about">11 Listings</a></div>
            </div>
          </div>
          <div class="item-content">
            <div class="item-title">
              <h3><a routerLink="/about">Patty Watson</a></h3>
              <h4 class="item-subtitle"><a routerLink="/about">Eco Builders</a></h4>
            </div>
            <div class="item-contact">
              <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
              <div class="item-phn-no">Call: +123 699 7700</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".2s">
          <div class="item-img">
            <a routerLink="/about">
              <img src="assets/img/team/team24.png" alt="team" height="240" width="240">
            </a>
            <ul class="team-social-1">
              <li class="social-item">
                <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                    class="fas fa-share-alt"></i></a>
                <ul class="team-social-dropdown">
                  <li class="social-item">
                    <a href="https://www.facebook.com/" target="_blank" class="social-link">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://twitter.com/" target="_blank" class="social-link">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="category-box">
              <div class="item-category"><a routerLink="/about">06 Listings</a></div>
            </div>
          </div>
          <div class="item-content">
            <div class="item-title">
              <h3><a routerLink="/about">Andren Willium</a></h3>
              <h4 class="item-subtitle"><a routerLink="/about">Sarah Boysen</a></h4>
            </div>
            <div class="item-contact">
              <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
              <div class="item-phn-no">Call: +123 699 7700</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="brand-wrap1 brand-wrap2">
  <div class="container">
    <div class="brand-layout swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand1.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand2.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand3.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand4.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand5.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand6.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand1.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand2.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand3.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand4.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand5.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand6.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand1.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand2.svg" alt="brand"></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
            <div class="item-img">
              <a routerLink="/"><img src="assets/img/brand/brand3.svg" alt="brand"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->



<!--=====================================-->
<!--=   Newsletter     Start            =-->
<!--=====================================-->

<!-- <section class="newsletter-wrap1">
  <div class="shape-img1">
    <img src="assets/img/figure/shape13.png" alt="figure" width="356" height="130">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="newsletter-layout1">
          <div class="item-heading">
            <h2 class="item-title">Sign up for newsletter </h2>
            <h3 class="item-subtitle">Get latest news and update</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="newsletter-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter e-mail addess">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->