<!--=====================================-->
<!--=   Breadcrumb     Start            =-->
<!--=====================================-->
<div class="breadcrumb-wrap">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/profile">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Property</li>
      </ol>
    </nav>
  </div>
</div>
<!--=====================================-->
<!--=   Account     Start               =-->
<!--=====================================-->
<main class="site-main content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <div class="page-content-block">
          <div class="col-md-12 rtcl-login-form-wrap">
            <h5 class="profile-title">Add Property</h5>
            <div class="step-form">
              <p-toast></p-toast>
              <p-steps [model]="items" [readonly]="false" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
              <div class="step-form-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>