<!--=====================================-->
<!--=   Breadcrumb     Start            =-->
<!--=====================================-->
<div class="breadcrumb-wrap">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/profile">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Property</li>
      </ol>
    </nav>
  </div>
</div>
<!--=====================================-->
<!--=   Account     Start               =-->
<!--=====================================-->
<main class="site-main content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <div class="page-content-block">
          <div class="col-md-12 rtcl-login-form-wrap">
            <h5 class="profile-title">Add Property</h5>
            <form id="rtcl-property-form" class="form-horizontal" autocomplete="nope">
              <div class="form-group" [ngClass]="{'with-error': errors?.title}">
                <label class="control-label">
                  Title <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="title" class="form-control" [(ngModel)]="propertyForm.title" />
                <div class="error" *ngIf="errors?.title">{{errors.title}}</div>
              </div>
              <div class="form-group with-error" [ngClass]="{'with-error': errors?.propertyType}">
                <label class="control-label">
                  Property Type <strong class="rtcl-required">*</strong>
                </label>
                <ng-select [items]="propertyTypes" bindValue="id" bindLabel="name" [multiple]="true"></ng-select>
                <div class="error" *ngIf="errors?.propertyType">{{errors.propertyType}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.address}">
                <label class="control-label">
                  Address <strong class="rtcl-required">*</strong>
                </label>
                <textarea name="propaddress" cols="10" class="form-control textarea" [(ngModel)]="propertyForm.address"
                  autocomplete="nope"></textarea>
                <div class="error" *ngIf="errors?.address">{{errors.address}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.description}">
                <label class="control-label">
                  Description <strong class="rtcl-required">*</strong>
                </label>
                <textarea name="description" cols="10" class="form-control textarea"
                  [(ngModel)]="propertyForm.description"></textarea>
                <div class="error" *ngIf="errors?.description">{{errors.description}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.salePrice}">
                <label class="control-label">
                  Sale Price <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="salePrice" class="form-control" [(ngModel)]="propertyForm.salePrice" />
                <div class="error" *ngIf="errors?.salePrice">{{errors.salePrice}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.sellerContactNumber}">
                <label class="control-label">
                  Seller Contact Number <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="salePrice" class="form-control"
                  [(ngModel)]="propertyForm.sellerContactNumber" />
                <div class="error" *ngIf="errors?.sellerContactNumber">{{errors.sellerContactNumber}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.rentYield}">
                <label class="control-label">
                  Rent Yeild <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="rentYield" class="form-control" [(ngModel)]="propertyForm.rentYield" />
                <div class="error" *ngIf="errors?.rentYield">{{errors.rentYield}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.weeklyCurrentRent}">
                <label class="control-label">
                  Weekly Current Rent <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="weeklyCurrentRent" class="form-control"
                  [(ngModel)]="propertyForm.weeklyCurrentRent" />
                <div class="error" *ngIf="errors?.weeklyCurrentRent">{{errors.weeklyCurrentRent}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.weeeklyRentalAppraisal}">
                <label class="control-label">
                  Weekly Rental Appraisal <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="weeeklyRentalAppraisal" class="form-control"
                  [(ngModel)]="propertyForm.weeeklyRentalAppraisal" />
                <div class="error" *ngIf="errors?.weeeklyRentalAppraisal">{{errors.weeeklyRentalAppraisal}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.propertyValueGrowth}">
                <label class="control-label">
                  Property Value Growth (%) <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="propertyValueGrowth" class="form-control"
                  [(ngModel)]="propertyForm.propertyValueGrowth" />
                <div class="error" *ngIf="errors?.propertyValueGrowth">{{errors.propertyValueGrowth}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.propertyAge}">
                <label class="control-label">
                  Property Age <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="propertyAge" class="form-control" [(ngModel)]="propertyForm.propertyAge" />
                <div class="error" *ngIf="errors?.propertyAge">{{errors.propertyAge}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.currentlyTenanted}">
                <!-- <label class="control-label">
                  Currently Tenanted? <strong class="rtcl-required">*</strong>
                </label> -->
                <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox" [(ngModel)]="propertyForm.currentlyTenanted" />
                <label for="a-2" class="checkbox-custom-label no-select">Currently Tenanted? <strong class="rtcl-required">*</strong></label>
                <!-- <input type="text" name="currentlyTenanted" class="form-control"
                  [(ngModel)]="propertyForm.currentlyTenanted" /> -->
                <div class="error" *ngIf="errors?.currentlyTenanted">{{errors.currentlyTenanted}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.currentlyTenantedValue}" *ngIf="propertyForm.currentlyTenanted">
                <label class="control-label">
                  Tenanted Value <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="currentlyTenantedValue" class="form-control"
                  [(ngModel)]="propertyForm.currentlyTenantedValue" />
                <div class="error" *ngIf="errors?.currentlyTenantedValue">{{errors.currentlyTenantedValue}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.rentalMarketPrice}">
                <label class="control-label">
                  Rental Market Price <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="rentalMarketPrice" class="form-control"
                  [(ngModel)]="propertyForm.rentalMarketPrice" />
                <div class="error" *ngIf="errors?.rentalMarketPrice">{{errors.rentalMarketPrice}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.vacancyRate}">
                <label class="control-label">
                  Vacancy Rate <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="vacancyRate" class="form-control" [(ngModel)]="propertyForm.vacancyRate" />
                <div class="error" *ngIf="errors?.vacancyRate">{{errors.vacancyRate}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.floodZone}">
                <label class="control-label">
                  Flood Zone <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="floodZone" class="form-control" [(ngModel)]="propertyForm.floodZone" />
                <div class="error" *ngIf="errors?.floodZone">{{errors.floodZone}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.fireZone}">
                <label class="control-label">
                  Fire Zone <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="fireZone" class="form-control" [(ngModel)]="propertyForm.fireZone" />
                <div class="error" *ngIf="errors?.fireZone">{{errors.fireZone}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.landSize}">
                <label class="control-label">
                  Land Size <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="landSize" class="form-control" [(ngModel)]="propertyForm.landSize"
                  autocomplete="off" />
                <div class="error" *ngIf="errors?.landSize">{{errors.landSize}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.landDAApproved}">
                <label class="control-label">
                  Land DA Approved? <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="landDAApproved" class="form-control"
                  [(ngModel)]="propertyForm.landDAApproved" />
                <div class="error" *ngIf="errors?.landDAApproved">{{errors.landDAApproved}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.isBodyCorporate}">
                <!-- <label class="control-label">
                  Is Body Corporate? <strong class="rtcl-required">*</strong>
                </label> -->
                <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox"
                  [(ngModel)]="propertyForm.isBodyCorporate" />
                <label for="a-1" class="checkbox-custom-label no-select">Is Body Corporate? <strong
                    class="rtcl-required">*</strong></label>
                <!-- <input type="text" name="isBodyCorporate" class="form-control"
                  [(ngModel)]="propertyForm.isBodyCorporate" /> -->
                <div class="error" *ngIf="errors?.isBodyCorporate">{{errors.isBodyCorporate}}</div>
              </div>
              <div class="form-group" [ngClass]="{'with-error': errors?.bodyCorporateValue}"
                *ngIf="propertyForm.isBodyCorporate">
                <label class="control-label">
                  Body Corporate Value <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="bodyCorporateValue" class="form-control"
                  [(ngModel)]="propertyForm.bodyCorporateValue" />
                <div class="error" *ngIf="errors?.bodyCorporateValue">{{errors.bodyCorporateValue}}</div>
              </div>

              <div class="form-group d-flex align-items-center">
                <button type="submit" name="rtcl-login" class="btn btn-primary" value="login">
                  Add Property
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>