@media print {
  .single-listing-wrap1 {
    padding: 0 !important;
  }
  .overview-area.listing-area {
    // clear: both;
    // page-break-before: auto !important;
    page-break-inside: avoid !important;
  }
  .overview-area.single-details-box.table-responsive {
    page-break-inside: avoid !important;
  }
  .overview-area.floor-plan-box {
    page-break-inside: avoid !important;
    .card {
      page-break-inside: avoid !important; 
    }
  }
  .widget.widget-contact-box {
    page-break-inside: avoid !important;
  }
}
.item-phn {
  a {
    color: var(--rt-primary-color);
    font-weight: 600;
  }
}
.extra-item {
  a {
    color: var(--rt-primary-dark);
    font-weight: 600;
    &:hover {
      color: var(--rt-primary-color);
    }
  }
  i {
    color: var(--rt-primary-dark);
    font-size: 25px;
  }
}