/* You can add global styles to this file, and also import other style files */
// @import "assets/css/jquery-ui.css";
// @import "assets/css/bootstrap.min.css";
// @import "assets/css/animate.min.css";
// @import "assets/vendor/owlcarousel/owl.carousel.min.css";
// @import "assets/vendor/owlcarousel/owl.theme.default.min.css";
// @import "assets/css/swiper-bundle.min.css";
// @import "assets/css/flaticon/font/flaticon.css";
// @import "assets/css/nice-select.css";
// // @import "assets/css/animate.min.css";
// @import "assets/css/magnific-popup.css";
// @import "assets/css/all.min.css";
// @import "assets/css/pannellum.css";
// @import "assets/css/pannellum.css";
// @import "assets/vendor/noUiSlider/nouislider.min.css";

// @import "assets/css/style.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
$color-danger: #dc3545;
$color-danger-border: 1px solid #dc3545;
.property-box2 .react-icon ul {
  li {
    &:first-of-type {
      padding-right: 5px;
    }
  }
}
.item-social {
  ul {
    li {
      margin-right: 3px;
    }
  }
}
.tooltip-offset {
  top: 5px !important;
}
.tooltip-offset-bottom {
  bottom: 25px !important;
  .arrow::before {
    border-top-color: black !important;
  }
}
.form-group {
  .ng-select-container {
    input {
      height: inherit;
    }
  }
}
.form-group {
  .textarea {
    height: 100px !important;
    resize: none;
  }
  &.with-error {
    .error {
      font-style: italic;
      width: 100%;
      margin-top: 0;
      font-size: 0.775em;
      color: $color-danger;
    }
    .form-control {
      border: $color-danger-border;
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
      }
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    .ng-select-container {
      border-color: #dc3545;
      box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 0 3px #fde6e8;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-2 {
  margin-right: 10px;
}

/* property-list page */
.rld-single-select {
  &::after {
    display: none !important;
  }
  .ng-select-container {
    height: 60px !important;
    border: 1px solid #e8e8e8 !important;
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  text-align: left !important;
}
.explore__form-checkbox-list {
  .ng-select.ng-select-single .ng-select-container {
    height: 50px !important;
    border: 1px solid #e8e8e8 !important;
  }
}
.widget.widget-contact-box .media .media-body .item-rating ul li {
  margin-right: 5px;
}
.widget.widget-contact-box .wid-contact-button li {
  margin-right: 10px;
}
.item-shorting-box .item-shorting-box-2 .by-shorting {
  margin-right: 0px;
}
/* property-detail page */
.single-property .single-listing-box1 .nearby-area .nearby-box .media .media-body .rating-area .item-rating li {
  margin-right: 5px;
}
/* contact page */
.contact-box1 .contact-content .social-box .item-social li {
  margin-right: 4px;
}
/* profile pages */
.profile-title {
  font-weight: 500;
  color: #212121;
}
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
