<!--=====================================-->
<!--=   Breadcrumb     Start            =-->
<!--=====================================-->
<div class="breadcrumb-wrap">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Profile</li>
      </ol>
    </nav>
  </div>
</div>
<!--=====================================-->
<!--=   Account     Start               =-->
<!--=====================================-->
<main class="site-main content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <div class="page-content-block">
          <div class="col-md-12 rtcl-login-form-wrap">
            <h5 class="profile-title">My Profile</h5>
            <form id="rtcl-login-form" class="form-horizontal" method="post" novalidate="novalidate">
              <div class="form-group">
                <label for="rtcl-user-login" class="control-label">
                  E-mail
                  <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="username" autocomplete="username" value="" id="rtcl-user-login"
                  class="form-control" required="" />
              </div>
              <div class="form-group">
                <label for="rtcl-user-login" class="control-label">
                  Full Name
                  <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="username" autocomplete="username" value="" id="rtcl-user-login"
                  class="form-control" required="" />
              </div>
              <div class="form-group">
                <label for="rtcl-user-login" class="control-label">
                  Contact Number
                  <strong class="rtcl-required">*</strong>
                </label>
                <input type="text" name="username" autocomplete="username" value="" id="rtcl-user-login"
                  class="form-control" required="" />
              </div>
              <div class="form-group d-flex align-items-center">
                <button type="submit" name="rtcl-login" class="btn btn-primary" value="login">
                  Update Profile
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>